/*Escencial*/
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: url(img/retailers_background_black_1.jpg) no-repeat scroll center;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}
/*Escencial Final*/

/*Barra de navegacion*/
nav{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    height: 75px;
    position: fixed;
    z-index: 20000;
}

nav a{
    color: black;
}

nav ul{
    display: flex;
    width: 850px;
    justify-content: space-evenly;
    padding-left: 384px;
}

.dflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 3px;
}

.logo{
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
    width: 124px;
    padding-left: 34px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    padding-left: 10px;
    padding-right: 10px;
}
li:hover{
    font-size: 13pt;
}

nav li a:hover{
    color: red;
}


.registrarse{
    width: 131px;
    height: 42px;
    line-height: 40px;
    font-size: 13pt;
    border: 1px solid red;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
}
.registrarse:hover{
    background-color: rgb(123, 26, 29);
    color: white;
    border: 1px solid black;
}
/*Barra de navegacion final*/


/*Hero*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.274);
    padding-top: 100px;
    padding-bottom: 20px;
    z-index: 1000;
    color: white;
    animation-name: animacion1;
    animation-duration: 1s;
    animation-delay: .3s;
    font-size: 13pt;
}
@keyframes animacion1{
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .50;
    }
    100%{
        opacity: 1;
    }
}


main p{
    color: white;
}

main p strong{
    color: rgb(123, 26, 29);
}

main img{
    padding-left: 50px;
}
main h2{
    width: 131px;
    height: 42px;
    line-height: 35px;
    font-size: 18pt;
    background-color: rgb(123, 26, 29);
    color: white;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    margin-right: 948px;
}
main h2:hover{
    background-color: white;
    color: rgb(123, 26, 29);
}

.flex{
    width: 1200;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-inline: 48px;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
/*Hero final*/


/*carusel*/
.f-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 40px;
}
.imgfluid{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}
.f-carousel__slide{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.f-carousel__slide p{
    display: block;
    justify-content: center;
    padding-top: 40px;
    font-size: 24pt;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: white;
    background: url(img/retailers_background.jpg);
}
#caracteristicas div .txt1 p{
    padding-top: 80px;
}
#caracteristicas div .txt2 p{
    padding-top: 95px;
}
/*carusel final*/

/*Comprar*/
.productos{
    display: flex;
    justify-content: space-between;
    color: white;
}
#comprar{    
    padding:30px 0 20px 0;
    width: 1170px;
    background: url(img/retailers_background_black.jpg) no-repeat scroll center;
}

#comprar h2{
    color: white;
    padding-bottom: 30px;
}

.comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 550px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: url(img/retailers_background.jpg);
    border-radius: 5px;
}
.productos{
    width: 1140px;
}
.productos p{
    padding-left: 10px;
}
.productos a{
    padding-left: 10px;
}
.productos h3{
    padding-left: 10px;
}

.link-img{
    display: block;
    width: 350px;
    height: 200px;
    border-radius: 3px;
}

.pic1{
    background:url(img/ggst_standard.webp) no-repeat center scroll ;
    background-size: cover;
}
.pic1:hover{
    background-color: rgb(153, 28, 34);
    background-blend-mode: lighten;
}
.pic2{
    background:url(img/ggst_editiondeluxe.webp) no-repeat center scroll ;
    background-size: cover;
}
.pic2:hover{
    background-color: rgb(181, 132, 0);
    background-blend-mode: lighten;
}

.pic3{
    background:url(img/ggst_editionultimate.webp) no-repeat center scroll ;
    background-size: cover;
}
.pic3:hover{
    background-color: rgb(125, 0, 1);
    background-blend-mode: soft-light;
}
.cta{
    width: 250px;
    height: 50px;
    line-height: 47px;
    border:2px solid white;
    color:  white;
    display: block;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    margin: 0 auto;s
}
.cta:hover{
    background-color: rgb(153, 28, 34);
    color: white;
}

/*acordion*/
.accordion {
    background: none;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}
      
.active, .accordion:hover {
    font-size: 20px;
}
      
.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
      
.ultimate{
    padding-bottom: 250px;
}
.deluxe{
    padding-bottom: 45px;
}
/*acordion final*/
/*Comprar Final*/

/*Noticias*/
#noticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    height: 1000px;
    width: 1170px;
}
.principal{
    display: block;
    text-align: left;
    flex-direction: column;
    font-size: 17pt;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 1000px;
    height: 965px;
    background: url(img/retailers_background.jpg);
    color: white;
}
.link-img-nt{
    display: block;
    background: url(img/kv@sp-xnNj771Auw.jpg) no-repeat scroll;
    background-size: cover;
    height: 770px;
    margin-top: 15px;
    border-radius: 10px;
}
.link-img-nt1{
    display: block;
    background: url(img/guilty-gear-strive-2362887.jpg) no-repeat scroll;
    background-size: cover;
    height: 160px;
    margin-top: 15px;
    border-radius: 10px;
}
.link-img-nt2{
    display: block;
    background: url(img/GamePass.jpg) no-repeat scroll 0 -100px;
    background-size: cover;
    height: 160px;
    margin-top: 15px;
    border-radius: 10px;
}
.link-img-nt3{
    display: block;
    background: url(img/Asuka-Trailer.jpg) no-repeat scroll 0 -30px;
    background-size: cover;
    height: 160px;
    margin-top: 15px;
    border-radius: 10px;
}
#noticias p{
    display: block;
    width: 75px;
    height: 30px;
    margin-left: 506px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(190, 10, 19);
}
#noticias p:hover{
    background-color: white;
    color: rgb(153, 28, 34);
}
#noticias div p{
    display: block;
    width: 75px;
    height: 30px;
    margin-left: 395px;
    line-height: 25px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(190, 10, 19);
}
#noticias a{
    color: white;
}
.notis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-left: 30px;
    padding-right: 15px;
    width: 900px;
    height: 1000px;
}
.notis div{
    display: block;
    text-align: left;
    flex-direction: column;
    font-size: 12pt;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    background: url(img/retailers_background.jpg);
    color: white;
}
.notis div p{
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: 240px;
    height: 30px;
    width: 90px;
}
/*Noticias Final*/



/*DLCs*/
#dlcs{
    width: 1170px;
    height: 888px;
    font-size: 18pt;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 5px;
}

#dlcs h2{
    font-size: 20pt;
    padding-top: 50px;
    padding-left: 20px;
}

.fil1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.fil2{
    display: flex;
    justify-content: space-around;
}

.char{
    display: block;
    width: 350px;
    height: 324px;
    border-radius: 10px;
    background: url(img/retailers_background.jpg);
}
.char:hover{
    font-size: 19pt;
}

.char h3{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.char h3 p{
    margin-top: 10px;
}

.link-img-ch{
    display: block;
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
.link-img-ch:hover{
    background-size: 162%;
    background-position: 30% 0;
}
.ch1{
    background:url(img/asuka.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch2{
    background:url(img/bedman.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch3{
    background:url(img/sin.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch4{
    background:url(img/brisket.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch5{
    background:url(img/Season2.jpg) no-repeat 0 -40px scroll ;
    background-size: cover;
}
.ch6{
    background:url(img/testament.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch7{
    background:url(img/baiken.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch8{
    background:url(img/chaos.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch9{
    background:url(img/jacko.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch10{
    background:url(img/season1.jpg) no-repeat 0 -40px scroll ;
    background-size: cover;
}
.ch11{
    background:url(img/goldlewis.jpg) no-repeat center scroll ;
    background-size: cover;
}
.ch12{
    background:url(img/escenarios.jpg) no-repeat center scroll ;
    background-size: cover;
}

/* Slideshow DLC*/
.slideshow-container {
    position: relative;
    margin: auto;
  }
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* Slideshow DLC final*/
/*DLCs Final*/

/*Formulario de contacto
label{
    margin-bottom: 8px;
}
label,input,textarea{
    display: block;
}
input,textarea{
    width: 100%;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    padding: 8px 4px;
    box-shadow: 1px 2px 3px black;
}
.formulario{
    width: 600px;
    background-color: #34dcf2;
}
.formulario button{
    background-color: black;
    border: none;
    color: red;
    margin-top: 16px;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.formulario button:hover{
    color: black;
    background-color: red;
}
Formulario de contacto final*/

/*Footer*/
footer{
    height: 175px;
    width: 1170px;
    margin-top: 50px;
    padding-top: 30px;
    padding: 15px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    color: black;
    background-color: white;
    justify-content: space-between;
}
footer p{
    color: black;
}
footer a p:hover{
    color: rgb(190, 10, 19);
}
.redes{
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.contac{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}
.copy{
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}
.map{
    display: block;
    width: 350px;
    height: 150px;
    border: solid 3px red;
    border-radius: 10px;
    margin-left: 50px;
    background-image: url(img/Map.jpg);
    background-size: cover;
}
.map:hover{
    background-size: 130%;
}
/*Footer final*/